<div class="container text-center">
    <h1>About Page</h1>
    <p> We do what you won't because you're too socially awkward to. No eye contact required! Developers, investors, and entrepreneurs welcome, investors preferred. </p>
</div>