.avatar-show-img {
    width: 128px;
    height: 128px;
}
.well.profile-block {
    color:white;
    h3 {
        margin-top:0;
    }
}

.well.profile-description {
    background-color: #8B1A1A;
    border-color: #bf2727;
}

.well.profile-contact-info {
    background-color: #00668B;
    border-color: #0076a1;
}